<meta name="viewport" content="width=device-width, initial-scale=1">

<div class="main-chart-container">
  <div class="chart" *ngIf="!showLineChart">

    <h2 class="country-name stats-container">Medals per country</h2>

    <div class="data-container">

      <div class="data-box" *ngFor="let data of selectedCountryData2">
        <div class="stats-item">
          <p class="stats-title">{{ data.label }}</p>
          <h3 class="stats-value">{{ data.value }}</h3>
        </div>
      </div>
    </div>

    <ngx-charts-pie-chart
      [view]="[600, 400]"
      [results]="pieChartData"
      [legend]="showLegend"
      [explodeSlices]="false"
      [labels]="true"
      [doughnut]="false"
      (select)="onPieChartSliceSelect($event)">
    </ngx-charts-pie-chart>
  </div>

  <div class="chart-container">
    <div class="chart" *ngIf="showLineChart">

      <div class="header-container">
        <div class="button-container">
          <button (click)="toggleLineChart()">Retour</button>
        </div>
        <h2 class="country-name stats-container">{{ selectedCountryName }}'s Olympic Performance</h2>
        <div class="spacer"></div>
      </div>


      <div class="data-container">

        <div class="data-box" *ngFor="let data of selectedCountryData">
          <div class="stats-item">
            <p class="stats-title">{{ data.label }}</p>
            <h3 class="stats-value">{{ data.value }}</h3>
          </div>
        </div>
      </div>

      <ngx-charts-line-chart
        [view]="[700, 400]"
        [results]="lineChartData"
        [xAxis]="true"
        [yAxis]="true"
        [legend]="true"
        [showXAxisLabel]="true"
        [showYAxisLabel]="true"
      >
      </ngx-charts-line-chart>
      <h2 class="alignCenterText">Dates</h2>

    </div>
  </div>
</div>
