body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 10px;
}

.header-container {
  display: flex;
  justify-content: space-between; /* Aligns items with space between */
  align-items: center;
  width: 100%;
}
:host {
  display: block; // or 'flex' if you want to use flexbox inside the component
  margin: auto; // Auto margins can help center block elements
  max-width: 100%; // Prevent the component from overflowing the screen width
  box-sizing: border-box; // Include padding and borders in the element's total width and height
}

// Responsive adjustments
@media (max-width: 768px) {
  :host {
    padding: 10px; // Add padding on smaller screens if necessary
  }
}

.main-chart-container, .chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.main-chart-container {
  width: 100%;
  max-width: 1024px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);

  @media (max-width: 768px) {
    max-width: 90%; // Adjust for smaller screens
    padding: 10px;  // Reduce padding for smaller screens
  }
}

.chart {
  margin-bottom: 20px;
}

.data-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.data-box {
    border: 1px solid blue;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
    flex-basis: calc(33.333% - 20px);
    box-sizing: border-box;
}

p:first-child {
    font-weight: bold;
    color: blue;
    margin: 0;
}

h3 {
    color: black;
    margin: 0;
}

.alignCenterText {
    text-align: center;
}

.stats-container {
    display: flex;
    justify-content: center;
    background-color: #e6f7ff;
    border-radius: 5px;
    padding: 10px;
    width: 50%;
    margin: auto;
}

.stats-item {
    padding: 10px;
    margin: 0 5px;
    text-align: center;
}

.stats-item:first-child {
    margin-left: 0;
}

.stats-item:last-child {
    margin-right: 0;
}

.stats-title {
    font-size: 1.2em;
    margin-bottom: 5px;
    color: #333;
}

.stats-value {
    font-size: 1.5em;
    font-weight: bold;
    color: #333;
}

.country-name {
  flex-grow: 0; /* Allows the title to grow and take available space */
  text-align: center; /* Centers the title text */
    margin-bottom : 10px;

}
.button-container {
    flex-grow: 0; /* Do not allow the button container to grow */
  text-align: left; /* Centers the title text */
  margin-bottom : 15px;

}

.spacer {
  flex-grow: 0; /* Do not allow the spacer to grow, it's just a dummy element */
}

button {
  background-color: #000000; /* Set the background color to black */
  color: #ffffff; /* Set the text color to white for contrast */
  border: none; /* Remove the default border */
  padding: 10px 20px; /* Add some padding */
  margin-top: 20px; /* Add margin on top to separate it from the chart */
  cursor: pointer; /* Change cursor to pointer to indicate it's clickable */
  border-radius: 5px; /* Optional: if you want rounded corners */
  font-weight: bold; /* Optional: if you want the text to be bold */
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */

  &:hover {
    background-color: darken(#000000, 10%); /* Darken the button on hover */
  }

  &:focus {
    outline: none; /* Remove the default focus outline */
  }
}


