<meta name="viewport" content="width=device-width, initial-scale=1">

<div class="main-chart-container" *ngIf="showCurrentPage">
    <h2 class="country-name stats-container">Medals per country</h2>

    <div class="data-container">

      <div class="data-box" *ngFor="let data of selectedCountryData2">
        <div class="stats-item">
          <p class="stats-title">{{ data.label }}</p>
          <h3 class="stats-value">{{ data.value }}</h3>
        </div>
      </div>
    </div>

    <ngx-charts-pie-chart
      (window:resize)="onResize($event)"
      [view]="view"
      [results]="pieChartData"
      [legend]="true"
      [explodeSlices]="false"
      [labels]="true"
      [doughnut]="false"
      (select)="onPieChartSliceSelect($event)">
    </ngx-charts-pie-chart>


</div>
