<h2>Medals per country</h2>

<div class="chart-container">

<div class="chart" *ngIf="!showLineChart">
  <ngx-charts-pie-chart
      [view]="[600, 400]"
      [results]="pieChartData"
      [legend]="showLegend"
      [explodeSlices]="false"
      [labels]="true"
      [doughnut]="false"
      (select)="onPieChartSliceSelect($event)">
    </ngx-charts-pie-chart>
  </div>

  <div class="chart" *ngIf="showLineChart">

    <div class="data-container">
      <div class="data-box" *ngFor="let data of selectedCountryData">
        <p>{{ data.label }}</p>
        <p>{{ data.value }}</p>
      </div>
    </div>

    <ngx-charts-line-chart
      [view]="[700, 400]"
      [results]="lineChartData"
      [xAxis]="true"
      [yAxis]="true"
      [legend]="true"
      [showXAxisLabel]="true"
      [showYAxisLabel]="true"
    >
    </ngx-charts-line-chart>
    <button (click)="toggleLineChart()">Cancel</button>
  </div>

</div>
